*, *:before, *:after{
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right, #e8e9e9,#d5dbdc, #dee0e1);
    font-family: Arial, Helvetica, sans-serif;
}
/*Links situados de la parte superior */
.unet{
    position: relative;
    overflow: hidden;
    float: right;
    margin-right: 40px;
    margin-top: 8px;
}
.link-item{
    color: #22292b;
    font-size: 0.8em;
    text-decoration: none;
    padding: 10px;
}
.link-item:hover{
    color: #7f8487;
}
.link-item:focus{
    color: #4b4e4f;
}
/*Color de fondo header */
.bg_nav{
    background: linear-gradient(to right, #e8e9e9,#d5dbdc, #dee0e1);
    position: relative;
    width: 100%;
    overflow: hidden;
}
/*Icono, imagen, svg parte superior izquierda */
.navbar-brand{
    color: #696c6d;
    font-size: 1.9em;
    margin-bottom: 50px;
    margin-left: 15px;
}

.navbar-brand:hover{
    color: #394244;
}
/* Menu parte superior derecha */
.navbar-nav{
    margin-left: 190px;
    margin-right: 90px;
    margin-bottom: 30px;
    display: flex;
}
.nav-item{
    margin-right: 6px;
    margin-bottom: 30px;
}
.nav-item:hover{
    color: #4b4e4f;
}
/* Enlaces menu derecho */
.nav-link{
    color: #3b3b3c;
}

.nav-link:hover{
    border-bottom: 2px solid #000;
    color: #727879;
    bottom: 4;
    left: 15px;
    right: 15px;
}
.nav-link:focus{
    color: #000;
}
/* Boton de busqueda*/
.box{
    padding-right: 300px;
}
.icon{
    color: #696c6d;
    margin-bottom: 50px;
    float: left;
    padding-right: 15px;
}
.icon:hover{
    color: #4b4e4f;
}
.icon:focus{
    color: #2c2e2e;
}
.container-1{
    width: 300px;
}
.container-1 input#search{
    width: 200px;
    height: 40px;
    background: linear-gradient(to right, #e8e9e9,#d5dbdc, #dee0e1);
    border: none;
    font-size: .9em;
    float: left;
    color: #bfc0c0;
    padding-left: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.container-1 input#search:hover{
    background-color: #fff ;    
}
.container-2{
    font-size: 1.2em;
}
.container-2:hover{
    background-color: #2326279c;
}
.container-3{
    margin-bottom: 10px;
    font-size: 1.2em;
}
.input_botton{
    padding-right: 15px;
    padding-bottom: 15px;
}

/* fin Boton de busqueda */

/* Carrusel de texto */
.carousel{
    background-color: #39424406;
    position: relative;
    bottom: 50px;
}
.carousel-inner{
    font-size: 0.8em;
    text-align: center;
}


/* fin Carrusel de texto */

/*Modulo responsive */
@media only screen and (max-width: 728px)	{
    .navbar-toggler{
        font-size: 1.9em;
        color: #7f8487;
        margin-bottom: 50px;
        margin-right: 20px;
    }
    .navbar-nav{
        display: flex;
        margin-left: 60px;
    }
    .nav-item{
        font-size: 0.8em;
        text-align: center;
    }
    .nav-item a:focus{
        border-radius: 2px;
        margin-left: 15px;
        background-color: #696c6d36;
        color: #5e6061;
        font-size: 1.3em;
        text-align: center;
    }
    .box{
        padding-left: 35px;
    }
}